* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background: url(./bg.jpg);
  background-size: cover;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.sitting {
  display: flex;
  justify-content: space-around;
}

.errorMessage {
  display: none;
  position: absolute;
  bottom: 0.5rem;
}
.errorMessage p {
  color: red;
}

.btn-1 {
  height: 2.9rem;
  width: 8rem;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  font-size: 1.01rem;
  color: #f8f8f8;
  transition: all 0.3s;
  background-color: rgb(16, 107, 180);
}
.btn-1:hover {
  background-color: rgb(40, 137, 217);
}

label,
p {
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.inNumber {
  display: flex;
  align-items: center;
  width: 8rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 0 1.1rem;
  height: 2.9rem;
  background-color: white;
}
.inNumber:last-child {
  margin-right: 0;
}

.parametr > input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  margin-right: 1.2rem;
  padding: 0 1.1rem;
  height: 2.9rem;
}

.text-area {
  background-color: white;
  height: 3vw;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.mb-0 {
  margin-bottom: 0;
}
